body { position: relative; font-family: "Microsoft JhengHei", \5FAE\8EDF\6B63\9ED1\9AD4, \65B0\7D30\660E\9AD4, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 1.42857; color: #333333; background-color: #eee; }

ol, ul, li { list-style: none; }

select:focus, input:focus, textarea:focus { outline: none; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #c5c5c5; }

::-moz-placeholder { /* Firefox 19+ */ color: #c5c5c5; }

:-ms-input-placeholder { /* IE 10+ */ color: #c5c5c5; }

:-moz-placeholder { /* Firefox 18- */ color: #c5c5c5; }

.clearfix:after { content: ""; display: block; clear: both; }

@font-face { font-family: "sixkids"; src: url("fonts/sixkids.eot"); src: url("fonts/sixkids.eot?#iefix") format("embedded-opentype"), url("fonts/sixkids.woff") format("woff"), url("fonts/sixkids.ttf") format("truetype"), url("fonts/sixkids.svg#sixkids") format("svg"); font-weight: normal; font-style: normal; }

[data-icon]:before { font-family: "sixkids" !important; content: attr(data-icon); font-style: normal !important; font-weight: normal; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "sixkids" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-menu:before { content: "\61"; }

.icon-search:before { content: "\62"; }

.icon-pin:before { content: "\63"; }

.icon-eat:before { content: "\64"; }

.icon-activity:before { content: "\65"; }

.icon-view:before { content: "\66"; }

.icon-done:before { content: "\67"; }

.icon-angle-down:before { content: "\6b"; }

.icon-android-time:before { content: "\6c"; }

.icon-star:before { content: "\68"; }

.icon-star-o:before { content: "\6a"; }

.icon-star-half-o:before { content: "\6d"; }

.icon-arrow-back:before { content: "\69"; }

.icon-close:before { content: "\6e"; }

.icon-map-add:before { content: "\6f"; }

.icon-fb:before { content: "\70"; }

.icon-feeback:before { content: "\71"; }

.icon-share:before { content: "\72"; }

.icon-phone:before { content: "\73"; }

.icon-map:before { content: "\74"; }

.icon-nav:before { content: "\75"; }

.icon-money:before { content: "\76"; }

.icon-kid:before { content: "\77"; }

.icon-time:before { content: "\78"; }

.icon-edit:before { content: "\79"; }

.icon-user:before { content: "\7a"; }

button:focus { outline: 0; }

.btn-submit { display: none; border: none; }

.btn-pin { position: relative; float: right; margin: 12px 12px 0 0; padding: 0; width: 36px; height: 36px; line-height: 42px; text-align: center; border-radius: 100%; border: none; background-color: #FFC759; }

.btn-pin:before { color: #ffffff; font-size: 20px; }

.btn-pin .pin-count { position: absolute; top: -4px; right: -6px; display: inline-block; width: 16px; height: 16px; background-color: #C1272D; color: #ffffff; line-height: initial; border-radius: 100%; font-size: 12px; font-weight: normal; }

.btn-filter { position: relative; border: none; background-color: transparent; }

.btn-filter.btn-filter-right { padding: 10px 15px 10px 10px; }

.btn-filter.btn-filter-left { padding: 10px 10px 10px 15px; }

.btn-filter .filter-count { position: absolute; top: -2px; right: 0; display: inline-block; width: 16px; height: 16px; border-radius: 100%; background-color: #C1272D; color: #ffffff; font-weight: normal; }

.btn-gone { position: absolute; right: 10px; bottom: 10px; z-index: 2; padding: 0; width: 90px; height: 28px; background-color: #ffffff; font-size: 12px; line-height: 28px; color: #4d4d4d; border: 1px solid #9b9b9b; border-radius: 2px; }

.btn-gone.btn-gone-left { right: 110px; }

.btn-gone.btn-gone-left:before { margin: 9px -5px 0 11px; }

.btn-gone.btn-gone-left.current:before { margin: 9px 0 0 5px; color: #E67325; font-weight: bold; }

.btn-gone:before { float: left; margin: 7px 0 0 5px; color: #D8D8D8; font-size: 14px; }

.btn-gone.current:before { margin: 7px 0 0 8px; color: #E67325; font-weight: bold; }

.btn-gone .gone-count { -webkit-transform: scale(0.83); display: inline-block; }

.btn-delete { position: absolute; right: 0; margin: 0; padding: 20px 15px 15px 0; border: none; background-color: transparent; font-size: 12px; color: #E67325; }

.btn-submit-filter { margin: 0; padding: 10px 0; width: 100%; border: none; background-color: #E67325; color: #ffffff; border-radius: 2px; }

.btn-select-all { float: right; margin: 10px 10px 10px 0; padding: 6px 10px; border-radius: 2px; border: none; background-color: #FFC759; line-height: normal; color: #ffffff; font-size: 12px; }

.btn-select-all.check-all { background-color: #f4f4f4; color: #777; }

.btn-clear-all { float: right; margin: 10px 15px 10px 0; padding: 6px 10px; border-radius: 2px; border: none; background-color: #f4f4f4; line-height: normal; color: #777; font-size: 12px; }

.btn-clear-all.clear-all { color: #F8931E; }

.btn-expand { width: 100%; padding: 10px 0; border: none; background-color: #f4f4f4; color: #E67325; }

.control { position: relative; display: block; padding-left: 25px; color: #4d4d4d; cursor: pointer; }

.control input { position: absolute; z-index: -1; opacity: 0; top: 0; left: 0; }

.control-indicator { position: absolute; top: 10px; left: 0; display: inline-block; width: 16px; height: 16px; border: 2px solid #777; border-radius: 2px; }

.control:hover input ~ .control-indicator, .control input:focus ~ .control-indicator { background-color: #eee; }

.control input:checked ~ .control-indicator { background-color: #F8931E; border: 2px solid #F8931E; }

.control:hover input:not([disabled]):checked ~ .control-indicator, .control input:checked:focus ~ .control-indicator { background-color: #F8931E; border: 2px solid #F8931E; }

.control-indicator:after { content: ""; position: absolute; display: none; }

.control input:checked ~ .control-indicator:after { display: block; }

.control-checkbox .control-indicator:after { left: 5px; top: 2px; width: 5px; height: 9px; border: solid #ffffff; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.material-switch { position: absolute; top: 20px; left: 15px; }

.material-switch label { cursor: pointer; height: 0px; position: relative; width: 40px; }

.material-switch label:before { content: ''; position: absolute; margin-top: -8px; width: 40px; height: 16px; background: #221f1f; box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5); border-radius: 8px; opacity: 0.3; transition: all 0.4s ease-in-out; }

.material-switch label:after { content: ''; position: absolute; top: -4px; left: -4px; margin-top: -8px; width: 24px; height: 24px; background: #f1f1f1; border-radius: 16px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); transition: left .3s ease,background .3s ease,box-shadow .1s ease; }

.material-switch input[type="checkbox"] { display: none; }

.material-switch input[type="checkbox"]:not(:disabled) ~ .label-switch:active:after { box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5), 0 0 0 15px rgba(0, 0, 0, 0.1); }

.material-switch input[type="checkbox"]:checked + label::before { background-color: #E67325; opacity: 0.5; }

.material-switch input[type="checkbox"]:checked + label::after { background: inherit; left: 20px; }

.material-switch .label-switch { background-color: #E67325; }

.header-content { position: fixed; top: 0; width: 100%; height: 60px; z-index: 5; background-color: #53BFA1; box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px; }

.nav-toggle { position: relative; float: left; padding: 0; margin: 8px 0; width: 44px; height: 44px; border: 0; background-color: transparent; }

.nav-toggle:before { position: absolute; top: 8px; left: 8px; font-size: 30px; color: #ffffff; }

.header-form { float: left; margin: 8px 0; min-width: 70%; height: 44px; }

.header-form .header-input { margin: 4px 0 0 3px; padding: 0 0 0 5px; min-width: 90%; height: 35px; border: none; border-radius: 5px; }

.header-form .icon-search:before { position: absolute; right: 18px; top: 9px; font-size: 28px; color: #53BFA1; }

.logo { position: absolute; left: 0; right: 0; text-align: center; }

.logo img { margin: 10px 0 0 0; width: 150px; }

/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map { height: 100%; }

/* Optional: Makes the sample page fill the window. */
html, body { height: 100%; margin: 0; padding: 0; }

.advanced-filter { position: fixed; top: 75px; width: 100%; z-index: 100; text-align: center; }

.advanced-filter.hide { display: none; }

.advanced-filter .btn-area { display: inline-block; background-color: #ffffff; color: #333333; font-size: 12px; font-weight: bold; box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px; border-radius: 80px; }

.advanced-filter .divider { display: inline; height: 100%; border-left: 1px solid #333333; }

.select-area { position: relative; display: inline-block; padding: 0 0 0 10px; }

.select-area select { width: 50px; height: 37px; border: none; background-color: transparent; -webkit-appearance: none; }

.select-area:before { position: absolute; right: 3px; top: 11px; font-size: 16px; }

.srh-rst { position: fixed; bottom: 0; width: 100%; height: 120px; background-color: #ffffff; border-top: 2px solid #53BFA1; }

.srh-rst .rst-img { position: absolute; width: 100%; height: 100%; z-index: 1; }

.srh-rst .rst-img span { display: inline-block; margin: 10px; width: 100px; height: 100px; overflow: hidden; line-height: 100px; text-align: center; }

.srh-rst .rst-img span img { max-width: 100%; height: 100%; }

.srh-rst .rst-title { position: absolute; top: 10px; left: 120px; margin: 0; max-width: 50%; max-height: 18px; overflow: hidden; font-size: 14px; color: #4a4a4a; }

.srh-rst .star-area { position: absolute; top: 30px; left: 120px; color: #F8931E; }

.srh-rst .star-area span:before { font-size: 12px; }

.srh-rst .rst-time { position: absolute; top: 55px; left: 120px; font-size: 12px; color: #4d4d4d; }

.srh-rst .rst-distance { position: absolute; top: 55px; right: 10px; font-size: 12px; color: #9b9b9b; }

.srh-rst .icon-view, .srh-rst .icon-eat, .srh-rst .icon-activity { position: absolute; top: 10px; right: 10px; }

.srh-rst .icon-view:before { color: #53BFA1; font-size: 24px; }

.srh-rst .icon-eat:before { color: #DC5966; font-size: 22px; }

.srh-rst .icon-activity:before { color: #1974C1; font-size: 22px; }

.srh-rst-list { margin: 130px 0 0 0; }

.srh-rst-list .list { position: relative; margin: 0 0 2px 0; border-top: none; }

.srh-rst-list.hide { display: none; }

.keyword-rst { float: left; width: 100%; height: 100%; background-color: #eee; }

.keyword-rst .rst-record { margin: 60px 0 0 0; padding: 0; background-color: #ffffff; }

.keyword-rst .rst-record li { position: relative; }

.keyword-rst .rst-record li:before { position: absolute; top: 10px; left: 10px; font-size: 24px; color: #9b9b9b; }

.keyword-rst .rst-record li a { display: inline-block; margin: 0px 0 0 44px; height: 40px; min-width: 86%; line-height: 40px; color: #4d4d4d; border-bottom: 1px solid #D8D8D8; text-decoration: none; }

.keyword-rst .rst-record li:last-child a { border-bottom: none; }

.keyword-rst .rst-recommand { margin: 15px 0 0 0; padding: 0; background-color: #ffffff; }

.keyword-rst .rst-recommand li { position: relative; }

.keyword-rst .rst-recommand li:before { position: absolute; top: 10px; left: 10px; font-size: 24px; }

.keyword-rst .rst-recommand li a { display: inline-block; margin: 0px 0 0 44px; height: 40px; min-width: 86%; line-height: 40px; color: #4d4d4d; font-weight: bold; text-decoration: none; }

.keyword-rst .rst-recommand li:last-child a { border-bottom: none; }

.keyword-rst .rst-recommand li.rec-eat:before { color: #DC5966; }

.keyword-rst .rst-recommand li.rec-view:before { color: #53BFA1; }

.keyword-rst .rst-recommand li.rec-activity:before { color: #1974C1; }

.advanced-filter-overlay { visibility: hidden; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #ffffff; z-index: 9999; }

.advanced-filter-overlay .overlay-header { position: fixed; top: 0; width: 100%; height: 55px; z-index: 20; background-color: #ffffff; border-bottom: 1px solid #eee; }

.advanced-filter-overlay .icon-close { position: absolute; top: 0; margin: 0; padding: 15px 15px 11px 15px; border: none; background-color: transparent; z-index: 10; }

.advanced-filter-overlay .icon-close:before { font-size: 25px; color: #4d4d4d; }

.advanced-filter-overlay .header-title { position: absolute; top: 18px; left: 0; display: inline-block; width: 100%; text-align: center; font-size: 16px; font-weight: bold; color: #4d4d4d; }

.advanced-filter-overlay .overlay-content { padding: 55px 0 60px 0; height: 100%; overflow-y: auto; background-color: #ffffff; }

.advanced-filter-overlay .overlay-content .select-title { height: 48px; line-height: 48px; border-bottom: 1px solid #eee; }

.advanced-filter-overlay .overlay-content .select-title .title-attr { float: left; display: inline-block; margin: 0 0 0 15px; color: #4d4d4d; font-size: 14px; font-weight: bold; }

.advanced-filter-overlay .overlay-content .check-list { margin: 0; padding: 0 15px; border-bottom: 1px solid #eee; }

.advanced-filter-overlay .overlay-content .check-list > li { height: 40px; line-height: 40px; }

.advanced-filter-overlay .overlay-content .check-list > li .check-items { display: inline-block; }

.advanced-filter-overlay .overlay-content .check-list > li.hide { display: none; }

.advanced-filter-overlay .overlay-content .switch-list { margin: 10px 0; padding: 0; }

.advanced-filter-overlay .overlay-content .switch-list > li { position: relative; height: 40px; }

.advanced-filter-overlay .overlay-content .switch-list > li .switch-text { position: relative; display: inline-block; margin: 11px 0 0 65px; color: #4d4d4d; }

.advanced-filter-overlay .overlay-content .switch-list > li .switch-text .reload-circle { position: absolute; top: 4px; right: -7px; display: inline-block; width: 8px; height: 8px; background-color: #E67325; border-radius: 8px; }

.advanced-filter-overlay .overlay-footer { position: fixed; bottom: 0; right: 0; left: 0; z-index: 2; padding: 10px; border-top: 1px solid #eee; background-color: #ffffff; }
