button:focus {outline:0;}
.btn-submit{
    display: none;
    border: none;
}
.btn-pin{
    position: absolute;
    right: 0;
    margin: 12px 12px 0 0;
    padding: 0;
    width: 36px;
    height: 36px;
    z-index: 1;
    line-height: 42px;
    text-align: center;
    border-radius: 100%;
    border: none;
    background-color: $yellow;
    &:before{
        color: $white;
        font-size: 20px;
    }
    .pin-count{
        position: absolute;
        top: -4px;
        right: -6px;
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: $red;
        color: $white;
        line-height: initial;
        border-radius: 100%;
        font-size: $font-size-small;
        font-weight: normal;
    }
}
.btn-filter{
    position: relative;
    border: none;
    background-color: transparent;
    &.btn-filter-right{
        padding: 10px 15px 10px 10px;
    }
    &.btn-filter-left{
        padding: 10px 10px 10px 15px;
    }
    .filter-count{
        position: absolute;
        top: -2px;
        right: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: $red;
        color: $white;
        font-weight: normal;
    }
}
.btn-gone{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    padding: 0;
    width: 90px;
    height: 28px;
    background-color: $white;
    font-size: $font-size-small;
    line-height: 28px;
    color: $gray-dark;
    border: 1px solid $gray;
    border-radius: 2px;
    &.btn-gone-left{
        right: 110px;
        &:before{
            margin: 9px -5px 0 11px;
        }
        &.current:before{
            margin: 9px 0 0 5px;
            color: $orange;
            font-weight: bold;
        }
    }
    &:before{
        float: left;
        margin: 7px 0 0 5px;
        color: $gray-light;
        font-size: $font-size-base;
    }
    &.current:before{
        margin: 7px 0 0 8px;
        color: $orange;
        font-weight: bold;
    }
    .gone-count{
        -webkit-transform:scale(0.83); 
        display:inline-block;
    }
}
.btn-delete{
    position: absolute;
    right: 0;
    margin: 0;
    padding: 20px 15px 15px 0;
    border: none;
    background-color: transparent;
    font-size: $font-size-small;
    color: $orange;
    z-index: 10;
}
.btn-submit-filter{
    margin: 0;
    padding: 10px 0;
    width: 100%;
    border: none;
    background-color: $orange;
    color: $white;
    border-radius: 2px;
    font-size: $font-size-large;
    font-weight: bold;
}
.btn-select-all{
    float: right;
    margin: 10px 10px 10px 0;
    padding: 6px 10px;
    border-radius: 2px;
    border: none;
    background-color: $yellow;
    line-height: normal;
    color: $white;
    font-size: $font-size-small;
    &.check-all{
        background-color: $gray-lightest;
        color: #777;
    }
}
.btn-clear-all{
    float: right;
    margin: 10px 15px 10px 0;
    padding: 6px 10px;
    border-radius: 2px;
    border: none;
    background-color: $gray-lightest;
    line-height: normal;
    color: #777;
    font-size: $font-size-small;
    &.clear-all{
        color: $star-color;
    }
}
.btn-expand{
    width: 100%;
    padding: 10px 0;
    border:none;
    background-color: $gray-lightest;
    color: $orange;
}
.btn-logout{
    position: absolute;
    right: 0;
    bottom: 0px;
    padding: 10px;
    border: none;
    background-color: transparent;
    line-height: normal;
    color: $white;
}
.btn-backarrow{
    position: absolute;
    display: inline-block;
    margin: 5px 0 0 0;
    width: 44px;
    height: 44px;
    z-index: 1;
    &:before{
        float: left;
        margin: 5px 0 0 5px;
        font-size: 35px;
        color: $white;
    }
}
.control{
    position: relative;
    display: block;
    padding-left: 25px;
    color: $gray-dark;
    cursor: pointer;
    input{
        position: absolute;
        z-index: -1;
        opacity: 0;
        top: 0;
        left: 0;
    }
}
.control-indicator{
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #777;
    border-radius: 2px;
    .control:hover input~&,.control input:focus~&{
        background-color: $gray-lighter;
    }
    .control input:checked~&{
        background-color: $star-color;
        border: 2px solid $star-color;
    }
    .control:hover input:not([disabled]):checked ~ &,.control input:checked:focus ~ &{
        background-color: $star-color;
        border: 2px solid $star-color;
    }
    &:after{
        content: "";
        position: absolute;
        display: none;
        .control input:checked~&{
            display: block;
        }
        .control-checkbox &{
            left: 5px;
            top: 2px;
            width: 5px;
            height: 9px;
            border: solid $white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}
.material-switch{
    position: absolute;
    top: 20px;
    left: 15px;
    label{
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
        &:before{
            content: '';
            position: absolute;
            margin-top: -8px;
            width: 40px;
            height: 16px;
            background: rgba(34, 31, 31,26);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
        }
        &:after{
            content: '';
            position: absolute;
            top: -4px;
            left: -4px;
            margin-top: -8px;
            width: 24px;
            height: 24px;
            background: rgb(241, 241, 241);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            transition: left .3s ease,background .3s ease,box-shadow .1s ease;
        }
    }
    input[type="checkbox"]{
        display: none;
        &:not(:disabled)~.label-switch:active:after{
            box-shadow: 0 1px 3px 1px rgba(0,0,0,.5),0 0 0 15px rgba(0,0,0,.10);
        }
        &:checked + label::before{
            background-color: $orange;
            opacity: 0.5;
        }
        &:checked + label::after{
            background: inherit;
            left: 20px;
        }
    }
    .label-switch{
        background-color: $orange;
    }
}