//== Colors
//
//## Gray and brand colors for use across Sixkids.
$green: #53BFA1 !default;
$green-dark: #367C69 !default;
$yellow: #FFC759 !default;
$blue: #1974C1 !default;
$red-light: #DC5966 !default;
$red: #C1272D !default;
$orange: #E67325 !default;
$white: #ffffff !default;
$black: #333333 !default;
$gray-lightest: #f4f4f4 !default;
$gray-lighter: #eee !default;
$gray-light: #D8D8D8 !default;
$gray: #9b9b9b !default;
$gray-dark: #4d4d4d !default;
$gray-darker: #4a4a4a !default;
$star-color: #F8931E !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-weight:400 !default;
$font-family-default:"Microsoft JhengHei",\5FAE\8EDF\6B63\9ED1\9AD4, \65B0\7D30\660E\9AD4,Helvetica, Arial, sans-serif !default;

$font-size-base: 14px !default;
$font-size-small: ceil(($font-size-base * 0.85)) !default; //~12px
$font-size-large: ceil(($font-size-base * 1.14)) !default; // ~16px
$font-size-xlarge: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-xxlarge: ceil(($font-size-base * 1.42)) !default; // ~20px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14